<%= form_with(model: @reservation_item, url: [@reservation, @reservation_item]) do |form| %>
  <% if reservation_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation_item.errors.count, "error") %> prohibited this reservation_item from being saved:</h2>

      <ul>
      <% reservation_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Sort items according to locations -->

  <!-- Returns item id -->
  <div class="field">
    <%= form.label :requested_item, "Item" %>
    <%= form.grouped_collection_select :requested_item, Location.order(:name),:items, :name, :id, :name, include_blank: true %>
  </div>


  <div class="field">
    <%= form.label :quantity_borrowed, "Quantity" %>
    <%= form.number_field :quantity_borrowed, id: :reservation_item_quantity_borrowed %>
  </div>

  <div class="field">
    <%= form.label :borrowed_at, "Start Loan" %>
    <%= form.datetime_select :borrowed_at, id: :reservation_item_borrowed_at %>
  </div>

  <div class="field">
    <%= form.label :returned_at, "End Loan" %>
    <%= form.datetime_select :returned_at, id: :reservation_item_returned_at %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
