<%= form_with(model: @reservation_item, url: [@reservation, @reservation_item]) do |form| %>
  <% if reservation_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation_item.errors.count, "error") %> prohibited this reservation_item from being saved:</h2>

      <ul>
      <% reservation_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :requested_item %>
    <%= form.text_field :requested_item, id: :reservation_item_requested_item, :readonly => true %>
  </div>


  <div class="field">
    <%= form.label :quantity_borrowed %>
    <%= form.number_field :quantity_borrowed, id: :reservation_item_quantity_borrowed, :readonly=>true %>
  </div>


  <div class="field">
    <%= form.label :quantity_returned, "Total quantity returned" %>
    <%= form.number_field :quantity_returned, id: :reservation_item_quantity_returned %>
  </div>

  <!--
  <div class="field">
    <%= form.label :borrowed_at %>
    <%= form.datetime_select :borrowed_at, id: :reservation_item_borrowed_at %>
  </div>
-->

  <div class="field">
    <%= form.label :returned_at, "Return Date" %>
    <%= form.datetime_select :returned_at, id: :reservation_item_returned_at %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
