<p id="notice"><%= notice %></p>

<p>
  <strong>Requested item:</strong>
  <%= @reservation_item.requested_item %>
</p>

<p>
  <strong>Quantity borrowed:</strong>
  <%= @reservation_item.quantity_borrowed %>
</p>

<p>
  <strong>Quantity returned:</strong>
  <%= @reservation_item.quantity_returned %>
</p>

<p>
  <strong>Borrowed at:</strong>
  <%= @reservation_item.borrowed_at %>
</p>

<p>
  <strong>Returned at:</strong>
  <%= @reservation_item.returned_at %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @reservation_item.datetime %>
</p>

<%= link_to 'Edit', edit_reservation_item_path(@reservation_item) %> |
<%= link_to 'Back', reservation_items_path %>
