<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Completed flag:</strong>
  <%= @reservation.completed_flag %>
</p>

</br>


<div>
  <%= link_to 'Add Item to Reservation', new_reservation_reservation_item_path(@reservation.id) %>
</div>
</br></br>

<table>
  <tr>
    <th>Requested</th>
    <th>Qty_Borrowed</th>
    <th>Qty_Returned</th>
    <th>Start_Loan</th>
    <th>End_Loan</th>
    <th>Returned Flag</th>
  </tr>

  <% @reservation_items.each do |r_item|%>
    <tr>
      <td><%=r_item.requested_item%></td>
      <td><%=r_item.quantity_borrowed%></td>
      <td><%=r_item.quantity_returned%></td>
      <td><%=r_item.borrowed_at%></td>
      <td><%=r_item.returned_at%></td>
      <td><%=r_item.returned_flag%></td>
      <td><%= link_to 'edit', edit_reservation_reservation_item_path(@reservation.id, r_item.id)%></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
