<p id="notice"><%= notice %></p>

<h1>Locations</h1> </br>
<%= link_to 'Add New Location', new_location_path %>

<table>
  <thead>
    <tr>
      <th align="center">Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</br><h1>Reservations</h1></br>
<p> Click <%= link_to 'here', reservations_path %> to view your reservations </p>
