<p id="notice"><%= notice %></p>


<h1><%=@location.name%> Overview</h1>

<%= link_to 'Add Item to this location', new_location_item_path(params[:id]) %>
</br></br>

<!-- Date Picker to view inventory for a certain date -->


<table>
  <tr>
    <th align="left">Item</th>
    <th>Available</th>
  </tr>

  <% @items.each do |item| %>
  <tr>
    <td align="left"><%=item.name%></td>
    <td align= "center"><%=item.quantity%></td>
    <td><%= link_to 'edit', edit_location_item_path(@location.id, item.id) %></td>
    <td><%= link_to 'destroy',location_item_path(@location.id, item.id), method: :delete %></td>
  </tr>

  <%end%>
</table>

<%= link_to 'Back', locations_path %>
